
.App {
  text-align: center;
}


.card-wheather{
  display: flex;
  justify-content: center;
   

  
}
.card-wheather img{
  position: absolute;
  height: 100%;
  width: 100%; 
  

 
}
.num{
  position: absolute;
  margin-top: 50px;
  background-color: rgb(189, 228, 228);
  width: 400px;
  height: 450px;
  border-radius: 15px;
 

}

.card-wheather h2{
  text-align: center;
  color: rgb(129, 52, 201);
}

.col-md-6 img{
  position: relative !important;
}

.col-md-5 img{
  height: 200px;
  width: 200px;
}
.col-md-5 li{
  margin-top: 170px;
  margin-left: 15px;
}

button{
  width: 200px !important;
  
}